vaadin-scroller[slot="drawer"] {
  padding: var(--lumo-space-xs);
  border-right: 3px solid var(--lumo-contrast-10pct);
/*  background-color: var(--lumo-contrast-5pct);*/
}

vaadin-side-nav-item vaadin-icon {
  padding: 0;
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-xs);
  padding: var(--lumo-space-xs) var(--lumo-space-m);
  min-height: var(--lumo-size-xs);
  box-sizing: border-box;
  border-right: 3px solid var(--lumo-contrast-10pct);
/*  background-color: var(--lumo-contrast-5pct);*/
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}
